<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Course Schedule</title>
  <link rel="stylesheet" type="text/css" href="static/css/syllabus.css"
   media="screen"/> 
  <link rel="stylesheet" type="text/css" href="static/css/syllabus-print.css"
   media="print"/> 

</head>

<body>
<h1>Schedule</h1>

<table class="class-schedule">
  {% for entry in g.schedule %}
  {% if loop.index is divisibleby 2 %}
  <tr class="even">
  {% else %}
  <tr class="odd">
  {% endif %}
    {% set week_date = entry.week %}
    {% set date = week_date.split('\n')[1] %}
    {% if is_the_same_week(date) is equalto 1 %}
    <td class="highlight_this_week">{{ entry.week }}</td>
    <td class="highlight_this_topic">{{ entry.topic }}</td>
    <td class="highlight_this_project">{{ entry.project}}</td>
    {% else %}
    <td class="week">{{ entry.week }}</td>
    <td class="topic">{{ entry.topic }}</td>
    <td class="project">{{ entry.project}}</td>
    {% endif %}
    
  </tr>
  {% endfor %}
  



</body> </html>
